:root {
  --color-today: 96, 165, 250;
  --color-scheduled: 239, 68, 68;
  --color-all: 156, 163, 175;
  --color-all-darker: 55, 65, 81;
  --color-flagged: 245, 158, 11;
  --list-color-reminder: 239, 68, 68;
  --list-color-family: 186, 72, 221;
}

html {
  font-size: 100%;
}

body {
  color: rgb(236, 236, 236);
  font-size: 18px;
  font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  background-image: linear-gradient(
    to right,
    rgb(131, 100, 204),
    rgb(131, 22, 27)
  );

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  border: 2px solid black;
  background: rgb(31, 41, 55);

  width: 56rem;
  height: 38rem;

  border-radius: 0.75rem;

  display: flex;
  overflow: hidden;
}

aside,
main {
  padding: 1.25rem;
}